!!! 5
%html
  %head
    %title Bracket
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'partials/navbar'

    .flash
      - if flash[:notice].present?
        %p.notice= flash[:notice]
      - if flash[:alert].present?
        %p.alert= flash[:alert]
      - if flash[:info].present?
        %p.info= flash[:info]

    .wrapper

      = yield
